#wripper{
    background-color: wheat;
    width: 600px;
    margin: 0 auto
}

#header{
    background-color: cornsilk;
}

.salam{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: yellowgreen;
}

.promo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: red;
}

#href{
    word-spacing: 20px;
}
#content{
    letter-spacing: 5px;
    margin-top: 10px;
    letter-spacing: 5px;
    line-height: 10px;
}

#left{
    margin-top: -1500px;
    float: left: ;
    width: 330px;
    background-color: wheat;
}

#right{
    float: right;
    margin-top: -1500px;
    width: 330px;
    background-color: wheat;
}

.footer{
    float: inline-end;
    background-color: cornsilk;
    margin-right: 100px;
    width: 1200px;

}
    


